footer {
    position: absolute;
    bottom: 0;
    left: 215px;
    right: 30px;
    background-color: rgb(128, 164, 220);
    border-radius: 5px;
    color: white;/* Cor do texto do rodapé */
    text-align: center;
    padding: 10px; /* Espaçamento interno do rodapé */
      
    }